.header__line{
    height: 30px;
    width: 0.87px;
    background-color: $color-light;
}

.button__line{
    display: inline;
    margin: 0 12px;
    height: 2.4rem;
    width: 0.08rem;
    background-color: $color-dark-brown;
}
